sudo: false

language: php

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 5.6
  - 7.0

matrix:
  fast_finish: true
  include:
    - php: 7.0
      env: deps=low

before_script:
  - phpenv config-rm xdebug.ini
  - if [[ "$deps" = "low" ]]; then composer update --prefer-lowest --prefer-stable; else composer install --prefer-dist; fi

script:
  - phpunit
  - ./vendor/bin/behat
